body {
  background-color: #fef6ad;
}

h2{
  color: #0066cc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p, li,ol,ul{
  font-family: 'Open Sans',sans-serif;
  color: black;
  font-weight: 400;
}

a{
  margin-right: 10px;
  font-family: 'Open Sans',sans-serif;
}

.icon{
  border-radius: 30%;
}

.highlight-text{
  color: #ff6633; 
  font-weight: 700;
}

img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  img{
    max-width: 60%;
    height: auto;
    
  }

  .icon{
    max-width: 50px;
  }
}

@media only screen and (min-width: 640px){
  img{
    max-width: 240px;
  }
  
  p{
    display: flex;
    justify-content: center;
  }

  .highlight-text{
    margin-right: 3px;
  }
}


@media only screen and (min-width: 900px){
  img{
    max-width: 340px;
  }
}